* {
   margin: 0;
   padding: 0;
}

ul,
ol {
   list-style: none;
}

.regiimg {
   width: 100%;
   height: 100vh;
   object-fit: cover;
}

.headingreglog {
   font-family: "Nunito", sans-serif;
   font-size: 28px;
   font-weight: 700;
   color: #11175d;
   line-height: 46.92px;
}

.regcontainer {
   width: 50%;
   margin-left: auto;
   margin-top: 50%;
   transform: translateY(-50%);
}

.regpara {
   font-family: "Nunito", sans-serif;
   font-size: 20.64px;
   font-weight: 400;
   color: #000000;
   opacity: 50%;
   line-height: 28.15px;
}

.reg-form {
   margin: 34px 0;
}

.login-btn {
   width: 48%;
   background-color: #5f34f5 !important;
}

.googlelogin {
   cursor: pointer;
}

.forgotpassword {
   background-color: #5f35f5;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.forgotpassword .box {
   padding: 25px;
   border-radius: 10px;
   background-color: #ffff;
}

.forgotpassword .box .MuiFormControl-root {
   width: 100%;
   margin: 10px 0;
}

.navbar {
   width: 100%;
   height: 100vh;
}

.navbar .nav-container {
   height: 100vh;
   background-color: #5f34f5;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.navbar .nav-container img {
   width: 75px;
   height: 75px;
}

.icon {
   display: inline-block;
   color: #fff;
   font-size: 25px;
   margin: 55px 0;
   transition: 0.6s ease-in-out;
}

.icon:hover {
   color: #000;
}

.active {
   display: inline-block;
   color: #5f35f5;
   font-size: 25px;
   margin: 55px 0;
   position: relative;
   z-index: 2;
}

.active::after {
   position: absolute;
   top: -8px;
   left: -14px;
   content: "";
   background-color: #fff;
   width: 216%;
   height: 150%;
   z-index: -1;
   transition: 0.4s ease-in-out;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
}
.active:hover:after {
   transform: scale(1.3);
}
